<%- include('../layouts/header.ejs') %>

<header>
    <nav class="navbar navbar-light bg-info justify-content-between">
        <a class="navbar-brand text-white">WELCOM HOME</a>
        <form class="form-inline">
            <a href="/logout"><input type="button" class="btn btn-success" value="logout"></a>
        </form>
      </nav>

</header>
<section>
    <img src="https://media.istockphoto.com/id/486916254/photo/web-design-concept.jpg?s=2048x2048&w=is&k=20&c=KfmtYCBD8IctyMk376AkEn4RRyI5O23Tpwdho5ikn-Q=" style="width:1600px ;">
</section>



<!-- 
<h1>welcom home</h1>

<a href="/logout"><button>logout</button></a> -->

<%- include('../layouts/footer.ejs') %>